html {
	height : 100%;
}
body {
	min-height : 100%;
	width : 960px;
	margin : 0 auto;
	font-family : 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
	color : #2c3e50;
}
hr {
	display : block;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
	margin-left : auto;
	margin-right : 5px;
	border-style : inset;
	border-width : 1px;
	border-color : #95a5a6;
}
input[type="text"] {
	padding : 10px;
	border : none;
	border-bottom : 2px solid #c9c9c9;
	transition : border 0.1s;
	width : 100%;
	margin-top : 70px;
	font-size : 45px;
	color : #95a5a6;
	font-family : 'Lato', sans-serif;
}
input[type="text"]:focus, input[type="text"].focus {
	border-width : 0 0 5px 0;
	border-bottom-style : solid;
	border-bottom-color : #3498db;
	font-size : 45px;
}
input[type="button"] {
	position : relative;
	width : 50px;
	height : 25px;
	font-size : 12px;
	color : #FFF;
	background : none 0% 0% repeat scroll #95a5a6;
	border-image : none;
	cursor : pointer;
	border-radius : 3px;
	text-shadow : 0 1px 2px rgba(0, 0, 0, 0.25);
	text-align : center;
	padding : 0;
	border-style : none none solid;
	border-width : 0 0 2px;
	box-shadow : 0 -2px #E2B607;
	margin : 5px 0 5px 0;
}
#container {
	width : 960px;
	margin : 0 auto;
}
#left-column {
	width : 480px;
	float : left;
}
#left-column span {
	margin-left : 20px;
}
#left-column li {
	list-style : none;
	margin : 2px 0 2px 0;
}
#left-column > h3 {
	color : #3498db;
}
#right-column > h3 {
	color : #1abc9c;
}
#right-column {
	width : 480px;
	float : right;
}
.banner {
	display : block;
}
#notice {
	display : block;
	position : absolute;
	bottom : 0;
	height : 45px;
	width : 100%;
	background : #74cfae;
	border-top : 5px solid #4F8371;
	padding : 0;
	margin : 0;
	color : #000;
	font-family : monospace;
}
#notice p {
	margin : 10px;
}
@media screen and (max-width:959px) {
	body {
		width : 100%;
	}
	#container {
		width : 90%;
	}
	#left-column, #right-column {
		width : 45%;
	}
	input[type="text"] {
		font-size : 20px;
	}
	input[type="text"]:focus, input[type="text"].focus{
		font-size : 20px;
	}
	input[type="text"] {
		padding : 10px;
		border : none;
		border-bottom : 2px solid #c9c9c9;
		transition : border 0.1s;
		width : 100%;
	}
}
@media screen and (max-width:640px) {
	#container {
		width : 90%;
		margin: 0px 10px 0px 10px;
	}
	#left-column, #right-column {
		width : 45%;
	}
	input[type="text"] {
		font-size : 20px;
		margin-left:10px;
		margin-right:10px;
	}
	input[type="text"]:focus, input[type="text"].focus{
		font-size : 20px;
		margin-left:10px;
		margin-right:10px;
	}
}
@media screen and (max-width:320px) {
	#container {
		width : 90%;
	}
	#left-column, #right-column {
		width : 90%;
		display : block;
		float:left;
	}
	input[type="text"] {
		font-size : 13px;
		width:85%;
		margin-left:10px;
		margin-right:10px;
	}
	input[type="text"]:focus, input[type="text"].focus{
		font-size : 13px;
		width:85%;
		margin-left:10px;
		margin-right:10px;
	}
	#left-column > h3, #right-column > h3 {
		font-size : 12px;
	}
}
